/*
Header css stylesheet
*/

.header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: cornflowerblue;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-top: 2em;
}

img {
  position: relative;
  top: 13%;
}

@media only screen and (max-width: 550px) {

  body {
    margin-top: 0;
  }

  .header {
    height: 200px;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 2em;
    font-size: 1rem;

  }

  img {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    margin-top: 3em;;
  }

  #desktop-view {
    width: 40%;
    margin: 0 auto;
    
  }
  
  .header {
    border-radius: 12px;
    margin-left: 0.8em;
  }

  .container {
    width: 60%;
    margin: 1em 2em;
  }

}
