/*
Nav css stylesheet
*/
nav {
  z-index: 4000;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3655a3;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.navTitle {
  font-family: 'Bungee', cursive;
  font-size: 2.5rem;
  color: whitesmoke;
}

.navSub {
  display: flex;
  font-size: 1.3rem;
  color: whitesmoke;
  font-weight: 400;
  margin-right: 1em;
}

.bolded {
  font-weight: 900;
}

.icon {
  margin-left: 15px;
  margin-top: 5px;
}

.navSub:hover .icon {
  animation: 1s linear infinite bounce
}

@keyframes bounce {
  0% {transform: translateY(-7px)} 50% {transform: translateY(0px)} 100% {transform: translateY(7px)}
}

@media only screen and (max-width: 550px) {
  
  nav {
    background-color: transparent;
  }
  
  .navTitle {
    color: #3655a3;
    font-size: 1.5rem;
  }
  
  .navSub div {
    display: none;
  }
  
  .icon {
    color: #3655a3;
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0;
  }

  .navSub:hover .icon {
    animation: 1s linear infinite bounce
  }
  
  @keyframes bounce {
    0% {transform: translateY(-6px)} 50% {transform: translateY(0px)} 100% {transform: translateY(5px)}
  }
}

